# Remix compiler artifacts
**/artifacts/
**/artifacts/**

# Remix plugin state folders
deps/
states/

# Debug info
*.dbg.json
*.tsbuildinfo

# Optional
.env
.env.local
# Local demo deployment output
deployment.json

# Node / Hardhat
node_modules/
cache/
coverage/
coverage.json


dist/
.vercel
.env*
